{% extends 'layout.html' %}

{% block title %}Валюта{% endblock %}

{% block sign %}
    <center>
        <div id="currectangle">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Покупка</th>
                        <th scope="col">Продажа</th>
                    </tr>
                </thead>
                <tbody>
                    {% for curr in curruncies %}
                    <tr>
                        <th scope="row"><div id="front">{{curr.ru_name }}</div><a href="{{url_for('get_currency', currency_id=curr.id, time='1year')}}" class="color-change-link">{{curr.id}}</a></th>
                            <td><span>{{ curr.buy_price|round(2) }}</span> ₽</td>
                            <td><span>{{ curr.sell_price|round(2) }}</span> ₽</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </center>
{% endblock %}