{% extends 'layout.html' %}

{% block title %}История{% endblock %}

{% block sign %}
    <div class="container">
        <h2>История</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Сумма</th>
                </tr>
            </thead>
            <tbody>
                {% for operation in data %}
                <tr>
                    <th scope="row">
                        <div id="front">{{operation["time"].strftime('%Y-%m-%d %H:%M')}}</div>
                        {% if operation["type_of_operation"] == "WITHDRAW"  %}
                            <a href="#" class="color-change-link">Вывод средств</a>
                        {% elif operation["type_of_operation"] == "DEPOSIT" %}
                            <a href="#" class="color-change-link">Пополнение баланса</a>
                        {% else %}
                            <a href="#" class="color-change-link">{{ operation["currency_ID"] }}</a>
                        {% endif %}
                    </th>
                    
                    {% if operation["type_of_operation"] == "BUY"  %}
                        <td>{{operation["quantity"]}}</td>
                        <td><div class="buy"><span>-{{operation["price"]|round(2)}}</span> ₽</div> <!-- пишешь - или + -->
                    {% elif operation["type_of_operation"] == "WITHDRAW" %}   
                        <td>-</td>
                        <td><div class="buy"><span>-{{operation["quantity"]|round(2)}}</span> ₽</div>
                    {% elif operation["type_of_operation"] == "DEPOSIT" %}   
                        <td>-</td>
                        <td><div class="sell"><span>+{{operation["quantity"]|round(2)}}</span> ₽</div>
                    {% else %}
                        <td>{{operation["quantity"]}}</td>
                        <td><div class="sell"><span>+{{operation["price"]|round(2)}}</span> ₽</div>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}