{% extends 'layout.html' %}

{% block title %}История{% endblock %}

{% block sign %}
    <div class="container">
        <h2>История</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Сумма</th>
                </tr>
            </thead>
            <tbody>
                {% for operation in data %}
                <tr>
                    <th scope="row">
                        <div id="front">{{operation["time"].strftime('%Y-%m-%d %H:%M')}}</div>
                        <a href="#" class="color-change-link">{{ operation["currency_ID"]}}</a>
                    </th>
                    <td>{{operation["quantity"]}}</td>
                    {% if operation["type_of_operation"] == "BUY" or operation["type_of_operation"] == "WITHDRAW" %}
                        <td><div class="buy"><span>-{{operation["price"]}}</span> ₽</div> <!-- пишешь - или + -->
                    {% else %}
                        <td><div class="sell"><span>+{{operation["price"]}}</span> ₽</div>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}