{% extends 'layout.html' %}

{% block title %}Пополнение счёта{% endblock %}

{% block sign %}
    <div class="pay-container">
        <select class="pay-select">
            <option value="" disabled selected>Выберите способ пополнения</option>
            <option value="option2">ЮMoney</option>
            <option value="option3">СПБ</option>
            <option value="option4">Банковская карта</option>
        </select>
        <form method="post">
            {{form.count()}}
            {{form.submit()}}
        </form>
    </div>
    
{% endblock %}