{% extends 'layout.html' %}

{% block title %}Выбор способа пополнения{% endblock %}

{% block sign %}
    <div class="square">
        <a href="#" class="button_YUmoney">
            <img src="/static/img/Юmoney_logo.jpeg" width="60">
            <h2>Юmoney</h2>
        </a>
        <a href="#" class="button_SBP">
            <img src="/static/img/спб_logo.jpeg" width="60">
            <h2>СБП</h2>
        </a>
        <a href="#" class="button_MIR">
            <img src="/static/img/mir_logo.png" width="60">
            <h2>Карта</h2>
        </a>
    </div>
{% endblock %}