{% extends 'layout.html' %}

{% block title %}Вывод средств{% endblock %}

{% block sign %}
    <div class="pay-container">
        {% for msg in get_flashed_messages() %}
		<div class="error_box">
		    {{msg}}
        </div>
		{% endfor %}
        <select class="pay-select">
            <option value="" disabled selected>Выберите платежную систему</option>
            <option value="option2">ЮMoney</option>
            <option value="option3">СПБ</option>
            <option value="option4">Банковская карта</option>
        </select>
        <form method="post">
            {{form.count()}}
            {{form.submit()}}
        </form>
    </div>
    
{% endblock %}