{% extends 'layout.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block sign %}
    <center>
        <div id="persacc">
            <div><h4>Счёт в Рублях:</h4>{{ user.get_balance() }}</div>
            <div><h5><b>{{ user.get_name() }} {{ user.get_surname() }}</b></h5>
                <div><a href="#"><em>Выход</em></a></div>
            </div>
        </div>
        <div id="currectangle">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">В валюте</th>
                        <th scope="col">За всё время</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><div id="front">Валюта</div><a href="#" class="color-change-link">Код волюты</a></th>
                        <td><span>0</span> $</td>
                        <td><div><span>0</span> ₽</div> 
                        <div id="back">0 %</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </center>
{% endblock %}