{% extends 'layout.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block sign %}
    <center>
        <div id="persacc">
            <div><h4>Счёт в Рублях:</h4>{{ user.get_balance()|round(2) }} ₽</div>
            <div class="fio_tg_pos">
                <div><h5><b>{{ user.get_name() }} {{ user.get_surname() }}</b></h5></div>
                <div class="tg_info">
                    {% if tg%}
                        <p>Телеграмм подключен: {{tg}}</p>
                        <form method="post">
                            <button class="button_tg_info" name="replace">Поменять</button>
                        </form>
                    {% else %}
                        <form method="post">
                            <input class="input_tg_info" name="tg_id" type="text" placeholder="Телеграмм айди">
                            <input class="input_tg_info" name="count" type="text" placeholder="Сумма для оповещения">
                            <button class="button_tg_info" >Отправить</button>
                        </form>
                    {% endif %}
                </div>
            </div>
      
        </div>
        <div id="currectangle">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">В валюте</th>
                        <th scope="col">За всё время</th>
                    </tr>
                </thead>
                <tbody>
                    {% for case in data %}
                    {% if data[case]["quantity"] > 0 %}
                    <tr>
                        <th scope="row"><div id="front">{{ data[case]["name_currency"] }}</div><a href="{{url_for('get_currency', currency_id=case, time='1year')}}" class="color-change-link">{{ case }}</a></th>
                        <td><span>{{ data[case]["quantity"] }}</span></td>
                        <td><div><span>{{ data[case]["selling_amount"]|round(2) }}</span> ₽</div> 
                        <div id="back">{{ data[case]["profitability"]|round(4)}} %</div></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </center>
{% endblock %}