{% extends 'layout.html' %}

{% block title %}{{curr.ru_name}}{% endblock %} <!-- Тут напишешь выбранную валюту-->

{% block sign %}
    <center>
        <div id="persacc">
            <center>
                <div id="currencies"><h2><b>{{curr.ru_name}}</b></h2></div>
                <div id="code"><h5>{{curr.id}}</h5></div>
            </center>
            <div><h3>{{curr.buy_price|round(2)}} ₽</h3></div>
            <div class="buysell_position">
            <form method="post">
                {% for msg in get_flashed_messages() %}
                <div class="error_box">
                    {{msg}}
                </div>
                {% endfor %}
                <div class="input_count">
                    <input class="input_count" type="text" name="count" placeholder="Количество валюты" required minlength="1"/>
                </div>
                <button class="button_to_buy" name="submit_buy">
                    <h5 style="color: white;">Купить</h5>
                </button>
                <button class="button_to_sell" name="submit_sell">
                    <h5 style="color: white;">Продать</h5>
                </button>
            </form>
            </div>
        </div>
    </center>
        <div class="graph_contain">
            <div class="graph">
                {{ the_div|safe }}
                {{ the_script|safe }}
            </div>
            <div class="graph_settigns">
                <button>Дата1</button>
                <button>Дата2</button>
                <button>Дата3</button>
                <button>Дата4</button>
            </div>
        </div>
    <center>
        <div id="aboutcurrencies">
            <div><h2><b>О Валюте</b></h2>
                <div>
                    <p>{{about}}</p> <!-- при добавлении информации О валюте будет
                        в центре (как и задумывалось)-->
                </div>
            </div>
        </div>
    </center>
                
        
    
{% endblock %}