{% extends 'layout.html' %}

{% block title %}...{% endblock %} <!-- Тут напишешь выбранную валюту-->

{% block sign %}
    <center>
        <div id="persacc">
            <center>
                <div id="currencies"><h2><b>Валюта</b></h2></div>
                <div id="code"><h5>Код валюты</h5></div>
            </center>
            <div class="buysell_position">
                <button class="button_to_buy">
                    <h5 style="color: white;">Купить</h5>
                </button>
                <button class="button_to_sell">
                    <h5 style="color: white;">Продать</h5>
                </button>
            </div>
        </div>
        <div class="contain"><p>Тут вставить график</p></div>
        <div id="aboutcurrencies">
            <div><h2><b>О Валюте</b></h2>
                <div>
                    <p>информация о ней</p> <!-- при добавлении информации О валюте будет
                        в центре (как и задумывалось)-->
                </div>
            </div>
        </div>
    </center>
{% endblock %}