{% extends 'layout.html' %}

{% block title %}Регистрация{% endblock %}

{% block sign %}
	<div class="container-reg-aut">
		<h2>Регистрация</h2>
		{% for msg in get_flashed_messages() %}
		{{msg}}
		{% endfor %}
		<form method="Post" action="">
			{{ form.hidden_tag() }}
			<p> {{ form.name() }}
			<p> {{ form.surname() }}
				{% if form.email.errors %}
					<p>{{ form.email() }}
						{% for e in form.email.errors%}
						{{e}}<br>
						{% endfor %}
					</p>
				{% else %}
					{{ form.email() }}
				{% endif %}
				
			<p> {{ form.password() }}
				{% if form.password_confirm.errors %}
					<p> {{ form.password_confirm() }}
						{% for e in form.password_confirm.errors%}
						{{e}}<br>
						{% endfor %}
					</p>
				{% else %}
					{{ form.password_confirm() }}
				{% endif %}
			<p> {{ form.submit() }}
		</form>
	</div>
{% endblock %}